:root {
    --color-primary: #d90000;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #000;
    font-family: monospace;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 98%;
}

.line__line {
    width: 100%;
    height: 0.1rem;
    background: white;
}

.title__container {
    padding: 1rem;
}

.title__chung {
    width: 99%;
    min-height: 38px;
    background: var(--color-primary);
    position: relative;
    margin-top: 1.5rem;
    margin-left: 0.5%;
}

.title__icon {
    /* top: 0; */
    width: 48px;
    height: 38px;
    background: black;
    position: absolute;
}

.title__icon img {
    margin-top: 3px;
    margin-left: 9px;
    width: 30px;
    /* height: 30px; */
}

.title__chung .icon__p {
    margin: 0;
    font-family: sans-serif;
    top: 13px;
    left: 59px;
    font-size: 19px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
}

.title__category {
    top: 1.4rem;
    left: 100rem;
    position: absolute;
}

.sub-category {
    padding: 0 0.3rem;
    display: inline;
}

.title__category .sub-category a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.title__category .sub-category a:hover {
    border-bottom: 1px solid white;
}