/* tablet pro */

@media (min-width: 992px) and (max-width: 1199.98px) {
    .form-control.control__input {
        width: 68%;
        margin-top: 1.5rem;
    }
    .btn-success {
        margin-top: 1.5rem;
    }
    .incon__delivery img {
        margin-top: 1.6rem;
    }
    .incon__delivery h3 {
        position: absolute;
        top: 0.3rem;
        left: 6rem;
        font-size: 1.4rem;
    }
    .incon__delivery h2 {
        position: absolute;
        top: 0.2rem;
        left: 6rem;
        font-size: 1.4rem;
    }
    .incon__delivery p {
        position: absolute;
        top: 3.3rem;
        left: 6rem;
        font-size: 1.4rem;
    }
    .link {
        font-size: 1.3rem;
    }
    .row__card .card__card .btn {
        width: 15rem;
    }
    .row__card .card__card {
        height: 23rem;
    }
    .row__card .card__card p {
        min-height: 3.5rem;
    }
    .bando {
        width: 28rem;
        height: 20rem;
    }
    .section__foodter p {
        font-size: 1.3rem;
    }
}


/* tablet */

@media (min-width: 768px) and (max-width: 991.98px) {
    .menu-top__list {
        display: none;
    }
    .icon__phone {
        width: 100%;
    }
    .label__bars {
        display: block;
        position: relative;
    }
    .fa__bars {
        position: absolute;
        top: -45px;
        left: 12px;
        font-size: 4rem;
    }
    .form-inline {
        display: none;
    }
    .timkiem {
        display: block;
    }
    .form-control.control__input {
        margin: 0.5rem 0 0.5rem 8rem;
    }
    .btn-success {
        margin-top: 0;
    }
    .face__book {
        display: none;
    }
    .row__card .card__img {
        display: none;
    }
    .row__card .card__card .btn {
        width: 13.5rem;
        height: 3rem;
    }
    .row__card .card__card p {
        min-height: 3rem;
        font-size: 1.3rem;
        padding: 0;
        text-align: center;
    }
    .row__card .card__card {
        width: 89%;
        height: 97%;
    }
    .col__card {
        padding: 0 0 0 1.8rem;
    }
    .logo__img img {
        width: 10rem;
    }
    .incon__delivery h3 {
        margin-top: -1rem;
        margin-left: 1.3rem;
    }
    .incon__delivery h2 {
        margin-top: -1rem;
        margin-left: 1.3rem;
    }
    .incon__delivery p {
        margin-top: 1rem;
        margin-left: 1.3rem;
        width: 15rem;
    }
    .info-product p {
        font-size: 1.3rem;
    }
    .content-product img {
        height: 6rem;
    }
    .content-product p {
        font-size: 1.3rem;
    }
    .section__final {
        display: none;
    }
    .section__foodter p {
        font-size: 0.9rem;
    }
    .bando {
        width: 21rem;
        height: 20rem;
    }
    .line-product {
        width: 85%;
    }
    .menu-mobile__item:hover {
        box-shadow: 0px 0px 7px 3px grey;
    }
    .menu-mobile__link {
        border-bottom: 1px solid var(--color-primary);
    }
    .section__foodter i {
        font-size: 1.6rem;
    }
    .list .item .sub__list {
        display: none;
    }
}


/* mobile */

@media (max-width: 575.98px) {
    .logo__img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slogan-header {
        display: none;
    }
    .menu-top__list {
        display: none;
    }
    .facebook {
        display: none;
    }
    .carousel-item img {
        height: 22rem;
    }
    .category__list {
        display: none;
    }
    .banner {
        display: none;
    }
    .row__card .card__card p {
        text-align: center;
        padding: 0.5rem;
    }
    .row__card .card__card .btn {
        width: 100%;
        margin-left: 0;
    }
    .row__card .card__card {
        margin: auto;
    }
    .section__final {
        display: none;
    }
    .section__foodter {
        background: white;
    }
    .sidebar__left {
        display: none;
    }
    .list-menu__mobile575 {
        display: block;
    }
    .icon-bars {
        position: absolute;
        left: 3rem;
        top: 2rem;
    }
    .list .item .sub__list {
        display: none;
    }
}