/* -----------------------------------------------Trang Chủ-------------------------------------------- */

.btn-success {
    margin-top: 2.5rem;
    font-size: 2rem;
}

.icon__phone {
    background: var(--color-primary);
    height: 0.5rem;
}

.form-control.control__input {
    margin-top: 2.5rem;
    width: 71%;
    height: 4rem;
    font-size: 1.4rem;
}

.menu-top__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-top__inner {
    background: var(--color-primary);
}

.slick__item img {
    width: 100%;
    height: 400px;
    max-width: 100%;
    margin-top: 1rem;
}


}
.menu-top__item {
    position: relative;
}
.menu-top__link {
    padding: 2.3rem 0;
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.2rem;
}
.menu-top__sublist {
    position: absolute;
    top: 100%;
    left: 10%;
    background-color: #bf1616;
    min-width: 25.5rem;
    z-index: 10;
    display: none;
}
.menu-top__item:hover .menu-top__sublist {
    display: block;
}
#myHeader {
    z-index: 9999;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    transition: linear 0.3s;
}
.sticky .menu-top__link {
    padding: 1.3rem 0;
}
.sticky .menu-top__item:first-child {
    display: none;
}
.sticky .menu-top__list .menu-top__item:nth-child(2) {
    display: block;
}
.menu-top__list .menu-top__item:nth-child(2) {
    display: none;
}
.menu-top__sublink {
    padding: 1rem 0;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
.menu-top__link:hover {
    color: #fff;
}
.input-mobile__check {
    font-size: 2.5rem;
}
#checkme {
    display: none;
}
.menu-mobile__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    transition: linear 0.3s;
}
.input-mobile__check:checked~.menu-mobile__overlay {
    visibility: visible;
    z-index: 10;
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
}
.input-mobile__check:checked~.menu-mobile__inner {
    transform: translateX(0);
    z-index: 99;
}
.label__bars {
    display: none;
}
.menu-mobile__list {
    background-color: red;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
}
.menu-mobile__link {
    margin-left: 3px;
    display: block;
    height: 3.5rem;
    line-height: 3.5rem;
    background: white;
    color: var(--color-primary);
}
.menu-mobile__logo {
    position: absolute;
    background: #d9d7da;
    height: 3.5rem;
    z-index: 12;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.menu-mobile__close {
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    font-size: 2rem;
}
.menu-mobile__logo img {
    /* top: 0; */
    
    position: absolute;
    top: -4px;
    left: 0px;
    height: 4rem;
}
.menu-mobile__inner {
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background: #fff;
    position: fixed;
    transform: translateX(-300px);
    transition: linear 0.3s;
}
.menu-mobile__sublink {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
}
.card-body {
    padding: 0;
}
.logo__img img {
    margin-left: 2rem;
    width: 17rem;
}
.form-inline {
    margin-top: 12px;
}
.incon__delivery {
    position: relative;
}
.incon__delivery img {
    width: 53px;
    height: 55px;
    margin-top: 24px;
}
.incon__delivery h3 {
    font-size: 16px;
    color: red;
    display: inline;
    top: 20%;
    left: 31.5%;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
}
.incon__delivery p {
    font-size: 17px;
    color: red;
    display: inline;
    top: 58%;
    left: 33%;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
}
.incon__delivery h2 {
    font-size: 15.5px;
    color: red;
    display: inline;
    top: 20%;
    left: 32%;
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
}
.category__left {
    margin-top: 1rem;
    background: var(--color-primary);
}
.category__left h2 {
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-bottom: 0.1rem;
    color: white;
}
.carousel-inner {
    margin-top: 1rem;
}
.section__category .list__product {
    background: #ffd0d0;
    /* height: 2.74rem; */
    
    position: relative;
}
.section__category .list__product a {
    /* font-size: 1.45rem; */
    
    margin-left: 2.4rem;
    color: black;
    padding: 0.6rem 1rem;
    display: block;
    text-decoration: none;
    position: relative;
}
.section__category .list__product a:hover {
    color: var(--color-primary);
}

/* .section__category .list__product:hover {
    border-left: 3px solid var(--color-primary);
} */
.section__category .list__product p {
    display: inline;
    color: red;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 0.5rem;
}
.section__category .list__product img {
    width: 96%;
    height: 37rem;
    margin-left: 1rem;
    margin-top: 10px;
    box-shadow: 0px 1px 5px 4px grey;
}
.list__product.product__hover a:hover~.list__product-list {
    display: block;
    position: relative;
}
.list__product.product__hover a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .list__product-list::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10%;
    width: 10rem;
    height: 100%;
    background-color: transparent;
} */
.list__product.product__hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    box-shadow: none;
    margin: 0;
}

/* .list__product.product__hover .product__img {
    position: absolute;
    top: 3.4rem;
    left: 1.2rem;
    width: 2rem;
    height: 2rem;
    box-shadow: none;
} */
.list__product-list {
    display: none;
    top: 0;
    left: 100%;
    width: 80rem;
    min-height: 37rem;
    background: white;
    z-index: 10;
    position: absolute;
    border-radius: 4px;
    box-shadow: 0px 3px 8px 4px gray;
}
.list__product-list:before {
    content: "";
    display: block;
    border-width: 1.5rem;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    top: 4px;
    left: -3rem;
}
.list__product-list.list__hover {
    position: absolute;
    top: -5.8rem;
    left: 25.5rem;
    width: 80rem;
}
.line__line1 {
    width: 100%;
    height: 0.07rem;
    background: black;
}
.list__product-list .ul__list {
    margin-left: 1.2rem;
}
.list__product-list h2 {
    padding: 0.5rem 0 0 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-primary);
}
.row__card {
    padding: 0.5rem 0 0 0;
}
.col__card {
    padding: 0.5rem;
}
.row__card .card__card {
    position: relative;
    width: 93%;
    height: 28rem;
    border: 1px solid #dddddd;
    background: white;
}
.row__card .card__card:hover {
    box-shadow: 0px 0px 8px 2px gray;
}
.row__card .card__card img {
    width: 100%;
    height: 68%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.row__card .card__card p {
    font-size: 1.7rem;
    text-align: center;
    min-height: 5rem;
    margin-bottom: 0;
    /* padding: 0.5rem 0 0 3rem; */
}
.row__card .card__card .btn {
    background: var(--color-primary);
    padding: 5px;
    margin-left: 0.4rem;
    /* margin-top: 1.8rem; */
    
    width: 18rem;
    font-size: 1.5rem;
}
.row__card .card__card .btn:hover {
    border: 3px solid white;
}
.row__card .card__card a {
    text-decoration: none;
    color: blue;
    font-weight: 700;
    font-family: 'Roboto';
}
.row__card .card__card a:hover {
    color: var(--color-primary);
}
.category__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.category__list>li:not(:last-child) {
    border-right: 1px solid white;
}
.category__list>li>a {
    display: block;
    /* font-weight: 550; */
    
    padding: 1rem 1.2rem;
    color: white;
}
.row__card .card__img {
    margin-top: 0.5rem;
    margin-left: 0.6rem;
}
.info-product {
    background: var(--color-primary);
    position: relative;
}
.info-product img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    display: inline;
}
.content-product {
    padding: 0.5rem 0;
}
.info__container {
    padding: 1rem 0 3rem 0;
}
.info-product p {
    display: inline;
    position: absolute;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: white;
    top: 1.3rem;
    left: 4rem;
}
.content-product img {
    display: inline;
    width: 14rem;
    height: 9rem;
}
.content-product p {
    font-weight: 600;
    color: black;
    padding: 0.5rem 0.5rem 0 0;
    max-height: 5rem;
}
.content-product p:hover {
    color: blue;
}
.line-product {
    margin-left: 1.5rem;
    width: 92%;
    height: 1px;
    background: gray;
}
.line-product1 {
    width: 100%;
    height: 1px;
    background: white;
}
.line-product2 {
    width: 100%;
    height: 1px;
    background: black;
}
.face__book {
    padding: 1rem 0 0 0;
}
.section__foodter i {
    /* color: blue; */
    
    font-size: 2.5rem;
}
.section__foodter p {
    /* color: black; */
    
    font-size: 1.6rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0;
}
.section__foodter {
    padding: 1.5rem 0 0 0;
    background: #f7f3f3;
}
.section__foodter h4 {
    margin-bottom: 2rem;
    text-transform: uppercase;
    /* font-weight: 550; */
    
    font-size: 2.4rem;
    color: var(--color-primary);
}
.tab-content h5 {
    color: var(--color-primary);
    /* font-weight: 600; */
    
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.section__foodter .addree__p {
    padding: 0;
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    display: block;
}
.section__foodter .hotline__p {
    padding: 0;
    font-size: 1.45rem;
    margin-bottom: 1.4rem;
    display: block;
}
.section__final {
    background: var(--color-primary);
    height: 0.3rem;
}
.list {
    background-color: red;
}
.item {
    background: #f9e6e6;
    /* position: relative; */
    
    display: flex;
    align-items: center;
}
.sub__link,
.link {
    padding: 10px;
    display: block;
    color: #fff;
}
.link {
    color: #bf1616;
    font-size: 1.5rem;
    height: 2.68rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sub__list {
    position: absolute;
    top: 49px;
    left: 95%;
    background-color: white;
    min-width: 82rem;
    min-height: 35.8rem;
    z-index: 20;
    box-shadow: 0px 0px 7px 5px grey;
    border-radius: 5px;
    display: none;
}
.sub__list.sub__list-sublist {
    top: 0;
    left: 100%;
}
.sub__list::before {
    content: "";
    display: block;
    border-width: 13px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    top: 2px;
    left: -25px;
}
.item:hover .sub__list {
    display: block;
}
.item__img {
    width: 2rem;
    display: inline-block;
    margin-left: 3px;
}
.header__title {
    background: var(--color-primary);
    margin-top: 1rem;
    height: 4rem;
}
.section__category .header__title p {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    height: 40px;
    line-height: 40px;
}
.section__foodter {
    margin-top: 2rem;
    height: 34rem;
}
.foodter__row {
    margin-top: 1.5rem;
}
.sub__item a {
    color: black;
    font-size: 1.4rem;
    padding: 6px 8px;
}
.sub__list h2 {
    font-size: 1.7rem;
    padding: 0.5rem 0 0 1rem;
}
.item a:hover {
    color: var(--color-primary);
}
.sub__list img {
    height: 31rem;
    width: 52rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 7px 3px grey;
}
.row__hello {
    width: 100%;
    margin-left: 0.2rem;
}

/* ----------------------------------------------- END Trang Chủ-------------------------------------------- */

/* ----------------------------------------------- Các Dự Án CNC-------------------------------------------- */
.col4__cnc {
    padding: 2.5rem 0 0 2rem;
}
.cnc__card {
    width: 95%;
    height: 22rem;
}
.cnc__card img {
    height: 22rem;
    box-shadow: -8px 8px 2px -2px #ccc;
    transition-duration: 0.3s;
}
.cnc__card img:hover {
    transform: scale(1.05);
}
.section__project {
    padding: 0 0 3rem 0;
}

/* -----------------------------------------------END Các Dự Án CNC-------------------------------------------- */

/* ----------------------------------------------- Tin Tức-------------------------------------------- */
.news__img {
    width: 95%;
    height: 26rem;
}
.news__img img {
    margin: 1rem 1rem 1rem 2rem;
    width: 47rem;
    height: 25rem;
}
.news__title {
    width: 95%;
    height: 26rem;
    margin: 1rem;
}
.news__title h2 {
    color: var(--color-primary);
}
.news__title p {
    min-height: 18rem;
}
.news__button {
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background: var(--color-primary);
    color: white;
    float: right;
}
.line-product3 {
    border-bottom: 2px dotted red;
}
.timkiem {
    display: none;
}

/* danh sach san pham mobile nho nhat*/
.dropdow-title {
    background: var(--color-primary);
    margin-top: 1rem;
    height: 4rem;
}
.dropdow-title p {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    height: 40px;
    line-height: 40px;
}
.list-menu__mobile575 {
    display: none;
}

/*END danh sach san pham mobile nho nhat*/

/* -----------------------------------------------END Tin Tức-------------------------------------------- */

/* ----------------------------------------------- List San Pham-------------------------------------------- */
.row__card .row__card-card {
    width: 100%;
    margin-left: 0;
}

/* -----------------------------------------------END List San Pham-------------------------------------------- */